version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb

  backend:
    build: .
    container_name: claimflow_backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://root:rootpassword@mongo:27017/claimflow?authSource=admin
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm install && npm run start:dev"

volumes:
  mongo_data:
  mongo_config:
