version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb
    networks:
      - microservices

  backend:
    build: .
    container_name: claimflow_backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://root:rootpassword@mongo:27017/claimflow?authSource=admin
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm install && npm run start:dev"
    networks:
      - microservices

  mongo-express:
    image: mongo-express:1.0.2
    container_name: mongo_express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: rootpassword
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH: "false"

    depends_on:
      - mongo
    networks:
      - microservices

volumes:
  mongo_data:
  mongo_config:

networks:
  microservices:
    name: shared-microservices
    external: true
